doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if(typeof(login)!='undefined'){
      div
        span Minha conta
        a(href='/logout') Log out
    - }
    block content
