doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel="shortcut icon" href="/favicon.ico?ver=1")
    script(src='/js/jquery-2.1.1.js')
    script(src='/js/jquery.blockUI.js')
    script.
      $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
  body
    - if(typeof(login)!='undefined'){
    script(src='/js/menu.js')
    div(id='cssmenu')
        ul
            li
                a(href='#')
                    span Home
            li(class='active has-sub')
                a(href='#')
                    span Book
                ul
                    li(class='has-sub')
                        a(href='#')
                            span Statements
                        ul
                            li
                                a(href='#')
                                    span By Account
                            li(class='last')
                                a(href='#')
                                    span By type
                    li(class='has-sub')
                        a(href='#')
                            span Summary
                        ul
                            li
                                a(href='#')
                                    span By Account
                            li(class='last')
                                a(href='#')
                                    span By type
            li(class='active has-sub')
                a(href='#')
                    span Teste
                ul
                    li(class='has-sub')
                        a(href='#')
                            span teste 1
                    li(class='has-sub')
                        a(href='#')
                            span teste 2
            li
                a(href='/logout')
                    span Logout
            li
                a(href='/about')
                    span About
            li(class='last')
                a(href='/contact')
                    span Contact
    - }
    block content
