doctype html
html
  head
    - if(typeof(title)!='undefined'){
    title= title
    - } else {
    title= 'Financial Management'
    - }
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel="shortcut icon" href="/favicon.ico?ver=1")
    script(src='/js/jquery-2.1.1.js')
    script(src='/js/jquery.blockUI.js')
    script.
      $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
  body
    - if(typeof(login)!='undefined'){
    script(src='/js/menu.js')
    div(id='cssmenu')
        ul
            li
                a(href='/')
                    span Home
            li(class='active has-sub')
                a(href='#')
                    span Book
                ul
                    li(class='has-sub')
                        a(href='#')
                            span Statements
                        ul
                            li
                                a(href='#')
                                    span By Account
                            li(class='last')
                                a(href='#')
                                    span By type
                    li(class='has-sub')
                        a(href='#')
                            span Summary
                        ul
                            li
                                a(href='#')
                                    span By Account
                            li(class='last')
                                a(href='#')
                                    span By type
            li(class='active has-sub')
                a(href='#')
                    span Settings
                ul
                    li
                        a(href='/users')
                            span Users
                    li(class='has-sub')
                        a(href='#')
                            span Groups
                        ul
                            li
                                a(href='/groups')
                                    span Management
                            li(class='last')
                                a(href='/groups/users')
                                    span Group & Users
            li
                a(href='/logout')
                    span Logout
            li
                a(href='/about')
                    span About
            li(class='last')
                a(href='/contact')
                    span Contact
    - }
    block content
