doctype html
html
  head
    - if(typeof(title)!='undefined'){
    title= title
    - } else {
    title= 'Financial Management'
    - }
    include sugars
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel="shortcut icon" href="/favicon.ico?ver=1")
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='/js/jquery-2.1.4.js')
    script(src='/js/jquery.blockUI.js')
    script(src="/bootstrap-3.3.5-dist/js/bootstrap.min.js")
    script.
      $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    body
      - if(typeof(login)!='undefined'){
      script(src='/js/menu.js')
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#myNavbar")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand",href="#")="Financial Management"
          div(class="collapse navbar-collapse",id="myNavbar")
            ul(class="nav navbar-nav")
              +menuItem("/","Home")(class=(active==='home' ? 'active' : ''))
              +navMenu("Book")
                +dropMenu("Statements")
                  +menuItem("#","By Account")
                  +menuItem("#","By Type")
                +dropMenu("Summary")
                  +menuItem("#","By Account")
                  +menuItem("#","By Type")
              +navMenu("Settings")
                +menuItem("/users","Users")
                +dropMenu("Groups")
                  +menuItem("/groups","Management")
                  +menuItem("/groups/users","Group & Users")
              +menuItem("/about","About")(class=(active==='about' ? 'active' : ''))
              +menuItem("/contact","Contact")(class=(active==='contact' ? 'active' : ''))
              +menuItem("/logout","Logout")
      - }
      div(class="container")
        block content
