extends layout

block content
    h1 Users
    +inlineForm("formUsers","POST","/users")
        +inputText("ID","userID")
        +imputEmail("Login","userLogin")
        +inputText("Name","userName")
        +inputPassword("Password","userPassword")
        +inputSingleCheck("System Admin","userIsSysAdmin")
        +inputText("Last login","userUltLogin")
        +btnDefault('submit','login','Save')
                                
