.welcome.text
  padding 3px;
  text-align center;
  max-width 500px
  margin auto
.welcome.title
  color: #0094FF;
  text-align: center;
.welcome .login,
.welcome .registro
  font: 12px "Arial";
  font-weight: bold;
  width: 220px;
  margin: 0px auto;
