body
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DDF5F5;
a
  color: #00B7FF;
.btn
  padding: 2px;
  margin: 5px 0px;
.welcome.text
  padding: 3px;
  text-align: center;
.welcome.title
  color: #0094FF;
  text-align: center;
.welcome .login,
.welcome .registro
  font: 12px "Arial";
  font-weight: bold;
  width: 220px;
  margin: 0px auto;
.login span
  padding: 4px 6px;
.login span,
.registro span
  float: left;
.registro span
  padding: 4px 0px;
.login input,
.registro input
  float: right;
.registro input
  width:100%;
.login input
  width: 140px;
  margin: 1px;
.login input.btn
  width: 50%;
  margin: 5px 0px;
.visitas
  position: fixed;
  bottom: 0;
  float: right;
  right: 0;
  //background: #ee5;
